.Item-Image {
  height: 50px;
  width: 50px;
  overflow: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.card {
  width: 15rem;
  border: 1px solid #CCC;
  border-radius: 15px;
  margin: .5em;
  float: left;
}

.card img {
  padding: .5em;
}